:root {
    /*Primary*/
    --desaturated-dark-cyan: hsl(180, 29%, 50%);
    /*Neutral*/
    --light-grayish-cyan-background: hsl(180, 52%, 96%);
    --light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);

}

@font-face {
    font-family: 'LeagueSpartan';
    src: url(./fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}

body {
    display: grid;
    width: 100svw;
    min-height: 100svh;
    margin: 0;
    font-family: 'LeagueSpartan';
    font-weight: 500;
    grid-template-rows: min-content;
}

header {
    height: 150px;
    background-image: url(./images/bg-header-desktop.svg);
    background-size: cover;
    background-color: var(--desaturated-dark-cyan);
}

main {
    display: grid;
    background-color: var(--light-grayish-cyan-background);
    height: auto;
}

html {
    color-scheme: dark light;
}

article[class="job-listing"] {
    display: grid;
    width: 80%;
    height: min-content;
    background-color: white;
    justify-self: center;
    box-sizing: border-box;
    padding: 30px;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content;
    gap: 20px;
    align-items: center;
    align-content: center;

}

img {
    grid-row: span 3;
}

section[class="company-info"] {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-auto-flow: column;
    width: min-content;
    gap: 10px;
    justify-self: start;
}

section[class="company"] {
    font-weight: 700;
    color: var(--desaturated-dark-cyan);
    align-self: center;
}

span[class="new"] {
    background-color: var(--desaturated-dark-cyan);
    height: min-content;
    padding: 5px 10px;
    border-radius: 10px;
}

span[class="featured"] {
    background-color: var(--very-dark-grayish-cyan);
    height: min-content;
    padding: 5px 10px;
    border-radius: 10px;
}

section[class="position"] {
    grid-row: 2;
    grid-column: 2;
    color: var(--very-dark-grayish-cyan);
    font-weight: 700;
    font-size: 1.2em;
}

section[class="role"] {
    grid-column: 2;
    grid-row: 3;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    width: min-content;
    gap: 5px;
    text-wrap: nowrap;
    align-content: center;
}

span[class="posted-at"] {
    color: var(--dark-grayish-cyan);
}

span[class="dot"] {
    color: var(--dark-grayish-cyan);
    align-self: center;
}

span[class="contract"] {
    color: var(--dark-grayish-cyan);
}

span[class="location"] {
    color: var(--dark-grayish-cyan);

}

section[class="tools"] {
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
    color: var(--desaturated-dark-cyan);
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
}

section[class="tools"] span {
    background-color: var(--light-grayish-cyan-filter-tablets);
    padding: 10px;
}