:root {
    /*Primary*/
    --desaturated-dark-cyan: hsl(180, 29%, 50%);
    /*Neutral*/
    --light-grayish-cyan-background: hsl(180, 52%, 96%);
    --light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);

}

@font-face {
    font-family: 'LeagueSpartan';
    src: url(./fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}

body {
    display: grid;
    width: 100svw;
    min-height: 100svh;
    margin: 0;
    font-family: 'LeagueSpartan';
    font-weight: 500;
    grid-template-rows: min-content;
}

header {
    height: 150px;
    background-image: url(./images/bg-header-desktop.svg);
    background-size: cover;
    background-color: var(--desaturated-dark-cyan);
}

main {
    display: grid;
    background-color: var(--light-grayish-cyan-background);
    height: auto;
    width: 100svw;
}

html {
    color-scheme: dark light;
}

